@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ndntechonline</h1>
    <p>Learn about <a href="https://kubernetes.io/docs/home/">kubernetes-in-Action</a>.</p>
</div>
    